{% extends 'base.html' %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="center-container">
        <h1 style="text-align:center;" style="font-size: 30px">В данный момент вы авторизованы в системе. 
            Для регистрации пользователя вам необходимо совершить одно из следующих действий: <a href="{% url 'home' %}" style="style=font-size: 30px; text-decoration: none; color: rgb(255,86,68);">вернуться</a>
            на главную страницу или <a href="{% url 'logout' %}" style="style=font-size: 30px; text-decoration: none;" class="danger"> выйти из системы</a></h1>
    </div>
    {% else %}
    <div class="center-container">
        <h2>Регистрация в сервисе</h2>
        <div class="form">
            <form method="post" class="form-register">
            {% if messages %}
                {% for mess in messages %}
                  <div class="alert alert-success">{{ mess }}</div>
                {% endfor %}
            {% endif %}   
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
    
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form %}
                <label class="form-label">{{field.label_tag}}</label>
                {{field}}
                <small class="form-text danger">{{ field.errors.as_ul }}</small>
                <small class="form-text muted">{{field.help_text}}</small>
            {% endfor %}
            <button class="btn-rounded" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}