{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
    <div class="center-container">
        <h1 style="text-align:center;" class="header-large">Сокра.Тим</h1>
        <label class="form-label" style="text-align: center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque modi itaque deserunt excepturi labore aliquam natus omnis accusantium iste dignissimos iusto fugit, perspiciatis dolor harum tenetur ipsum facere ab quod?</label>
    </div>
{% endblock %}