<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
</head>
<body>
    <nav>
        <ul class="ul-navbar">
          <div class="navbar-container">
            <li class="link-navbar" style="float: left;"><a href="" class="link-navbar__link navbar-header"><img src="{% static 'svg/Logo.svg' %}" width="80" height="80"></img></a></li>
            {% if user.is_authenticated %}
                <li class="link-navbar"><a href="{% url 'logout' %}" class="link-navbar__link">Выйти</a></li>
                <li class="link-navbar"><a href="{% url 'logout' %}" class="link-navbar__link">Про нас</a></li>
                <li class="link-navbar"><a href="{% url 'create_link' %}" class="link-navbar__link">Создание ссылок</a></li>
                <li class="link-navbar"><a href="{% url 'profile' %}" class="link-navbar__link">Перейти в профиль</a></li>
            {% else %}
                <li class="link-navbar"><a href="{% url 'login' %}" class="link-navbar__link">Войти</a></li>
                <li class="link-navbar"><a href="{% url 'register' %}" class="link-navbar__link">Зарегистрироваться</a></li>
            {% endif %}
            <li class="link-navbar"><a href="{% url 'home' %}" class="link-navbar__link">Главная</a></li>
          </div>
        </ul>
    </nav>
    
    <div class="container">
        {% block content %}
        
        {% endblock %}
    </div>
    <footer class="footer">
      <div class="footer-content">
          Все права защищены &#169;
          <div class="footer-buttons-container">
            <a href="https://facebook.com" class="fa fa-facebook"></a>
            <a href="" class="fa fa-instagram"></a>
            <a href="https://vk.com" class="fa fa-vk"></a>
            <a href="https://twitter.com" class="fa fa-twitter"></a>
        </div>
      </div>
    </footer>
</body>
</html>